<nav class="navbar">
  <div class="site-title">
    <a href="/"> <h1>Konohakagure Shinobis</h1> </a>
    <p>A Blog on shinobi's of the hidden leaf village</p>
  </div>
  <ul>
    <li>
      <a href="/">Blogs</a>
    </li>
    <li>
      <a href="/about">About Us</a>
    </li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
