<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs')%>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konohakagure | <%= title %></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="not-found content">Oop's page not found</div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
