<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Konohagakure,"Village Hidden in the Leaves" or "Hidden Leaf Village"is
        the hidden village of the Land of Fire. As the village of one of the
        Five Great Shinobi Countries, Konohagakure has a Kage as its leader
        known as the Hokage, of which there have been eight in its history.
        Konoha resides deep within a forest at the base of a mountain known as
        the Hokage Rock, which has the faces of all those who have taken the
        office of Hokage engraved on it.It is surrounded on all sides by
        enormous walls. While generally seen as the most powerful of the ninja
        villages, Konoha has enjoyed many years of relative peace and stability.
        This site contains blogs of all the shinobi's of Konohagakure.
      </p>
      <p>
        During the Warring States Period, ninja were organised into small
        mercenary clans that knew nothing but battle. The two strongest of these
        clans were the Senju and the Uchiha, who had warred against each other
        for their entire histories. Eventually, intending to end the constant
        bloodshed, Hashirama Senju used his position as leader of his clan to
        broker a truce with the Uchiha clan through their leader, his childhood
        friend Madara Uchiha. Thus the Senju, the Uchiha, and their respective
        affiliated clans formed the first shinobi village: Konohagakure — a name
        invented by Madara himself. Other villages would soon start forming,
        following Konoha's example and essentially ending the Warring States
        Period.
      </p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
